/* STYLE DE BASE */
body
{
	background: url('assets/img/fond.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.carousel li
{
	background-color: #416190;
}
.carousel .active
{
	background-color: black;
}
.carousel .glyphicon
{
	color: white;
	font-size: 30px;
}

.col-lg-12
{
	padding-left: 0;
	padding-right: 0;
	margin-top: -10px;
	

}
img
{
	width: 100%;
}
.container-fluid
{
	padding-right: 0;
	padding-left: 0;
	margin-top: 10px;
	
}
.navbar
{
	margin-bottom: 10px;
}
/* --------------------------------------------------------- */